.collection {
  .collection__title {
    margin: 24px 0;
    font: normal normal bold 40px/47px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
  }

  .collection__switch {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 82px;
    margin-top: 73px;
    font: normal normal bold 17px/20px Roboto;
    letter-spacing: 0px;
    color: #d1d1d1;

    div {
      cursor: pointer;
    }
  }

  .chart__container {
    position: relative;
    width: 1180px;
    height: 390px;
    margin: auto;
    border-radius: 10px;
    background: #0b1e39 0% 0% no-repeat padding-box;
  }

  @media (max-width: 1300px) {
    .collection__title {
      margin: 2.666rem 0;
      font: normal normal bold 4.444rem/47px Roboto;
    }

    .collection__switch {
      gap: 9.111rem;
      margin-top: 8.111rem;
      font: normal normal bold 1.888rem/20px Roboto;
    }
  }
}
