@use './colors.scss' as *;
@use './variables.scss' as *;

.buttons__container {
  width: 100%;
  padding: 1rem;

  .buttons__second-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-radius: $border-radius-md-2;
    background-color: $primary;
    overflow: hidden;
  }

  button {
    width: 100%;
    min-height: 3rem;
    border: none;
    outline: none;
    padding: 1.2rem 1rem;
    background-color: transparent;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }

  button.active {
    border-radius: $border-radius-md-2;
    background-color: $primary-lighter;
  }
}
