$primary: #0b1e39;
$primary-dark: #000f24;
$primary-light: #244677;
$primary-lighter: #1956e2;
$success: #25ce8c;
$danger-color: #fd2f7a;

// BG + List-items-bg: #000F24
// FG: #0B1E39
// Delete button: #434248
// Stop button: #FD2F7A
// start button: #25CE8C
// create task: #FFFFFF
// menu + selected from the left: #244677
