.drops {
  min-height: fit-content;
  position: relative;
  width: 100%;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: auto;
  padding: 40.5px 90px;
  overflow-x: hidden;
  overflow-y: hidden;

  .buttons__container {
    padding-left: 0;
  }

  .drops__table__container {
    // overflow: hidden;
    transition: overflow 0.2s ease;
  }

  .drops__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4.5px;
    color: #fff;

    h2 {
      font: normal normal bold 22px/25px Roboto;
    }

    p {
      font: normal normal normal 16px/19px Roboto;
      letter-spacing: 0px;
    }
  }

  .drops__title2 {
    margin-top: 36px;
  }

  .drops__sort_timer {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -18px;

    svg {
      margin-left: 45px;
    }
  }

  .search__filter__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 27px;
    // padding: 1rem;
  }

  .drops__sort-details {
    width: 261px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;

    span {
      font: normal normal bold 12px/14px Roboto;
      white-space: pre;
    }
  }

  .drops__filter {
    svg {
      margin: 0;
    }
  }

  @media (min-height: 1100px) {
    margin-top: 0;
  }

  @media (max-width: 1215px) {
    .drops__table__container {
      overflow-x: auto;
      overflow-y: hidden;
      transition: overflow 0.2s ease;
    }
  }

  @media (max-width: 800px) {
    padding: 40.5px 4.5px;

    .traist__sort_timer {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 18px;
      margin-bottom: 0;

      svg {
        margin-left: 0;
      }
    }

    .drops__sort-details {
      width: 319.5px;
    }

    .search__filter__container {
      justify-content: flex-start;
      align-items: flex-start;
      gap: 45px;
    }
  }

  @media (max-width: 500px) {
    .drops__sort_timer {
      height: fit-content;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      svg {
        margin-top: 9px;
      }
    }
  }
}
