@use './colors' as *;

.table {
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  border-spacing: 0;
  text-align: left;
  margin-top: 30px;

  * {
    max-width: 100%;
    border-spacing: 0;
    border: 0;
    margin: 0;
  }

  svg {
    * {
      user-select: none;
      pointer-events: none;
    }
  }

  & td,
  & th {
    padding: 1rem;
    text-align: left;
  }

  .table__body__row {
    background-color: $primary-dark;
    width: 100%;

    td:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    td:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .table__space {
    height: 1rem;
  }

  .action-icon {
    cursor: pointer;
  }

  svg {
    user-select: none;
    pointer-events: none;
  }

  .active {
    svg {
      stroke: red;
    }
  }

  @media (max-width: 500px) {
    width: 500px;
    display: block;
  }
}
